.compliment-section {
  background-image: pink;
  padding: 2rem;
  text-align: center;
  font-family: 'Gamja Flower', cursive;
  color: #BA0032;
}

.compliment-section h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.compliment-section li {
  font-size: 1.5rem;
  margin: 10px 0;
  list-style-type: none;
}
